@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
    --white: hsl(0, 0%, 100%);
    --off_white: hsl(0, 2%, 92%);
    --light_grey: hsl(0, 0%, 86%);
    --smokey_grey: hsl(0, 1%, 44%);
    --off_black: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
    --light_red: hsl(0, 100%, 67%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--light_grey);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper {
   position: relative;
  padding: 1rem;
  width: 40%;
  border-radius: 1.5rem 1.5rem 8rem 1.5rem;
    background: var(--white);
}

.dates {
  display: flex;
  position: relative;
  width: 80%;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid var(--light_grey);
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.Day,
.Month, 
.Year {
  display: flex;
  flex-direction: column;
  margin-right: 0.7rem;
}

.label {
  font-weight: 400;
  color: var(--smokey_grey);
  letter-spacing: 2px;
  font-size: 0.6rem;
}

input {
  width: 6rem;
  height: 3rem;
  color: var(--off_black);
  border-radius: 4px;
  margin-right: 1rem;
  border: 1px solid var(--light_grey);
  outline-color: var(--purple);
  padding: 1rem 0.7rem;
  font-weight: 1000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover {
  cursor: pointer;
}
.submitbtn {
  position: absolute;
  right: 0;
  display: inline-block;
  border: none;
  background-color: var(--purple);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: background color 0.6s;
  margin-top: -2.5rem;
  margin-right: 2.5rem;
}

.submitbtn:hover {
  background-color: var(--off_black);
}

.output {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 1000;
  line-height: 1;
}

.output_year, .output_month, .output_day {
  color: var(--purple);
  letter-spacing: 8px;
}

@media screen and (max-width: 45em){
  
  .wrapper {
    width: 90%;
  }
  
  .dates {
    width: 80%;
    margin-left: 0;
    padding-top: 1rem;
  }
    .output_year, .output_month, .output_day {
        font-size: 3rem;
    }
    input {
  margin-right: 0;
  border: 1px solid var(--light_grey);
  outline-color: var(--purple);
  padding: 1rem 0.7rem;
  font-weight: 1000;
    }
    
    .submitbtn {
  margin-right: 1rem;
    }
  
  .output {
  font-size: 1.5rem;
    padding-bottom: 7rem;
    padding-top: 1rem;
}
}
